name: build
on: [push, workflow_dispatch]
jobs:
  job_01-build:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: install deps
        run: npm ci
      - name: build project
        run: npm run build
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: build
          name: build_artifacts
